[Unit]
Description=aria2 backend rpc download server
After=network.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/aria2c --conf-path /home/pi/Code/etc/aria2/aria2.conf

[Install]
WantedBy=multi-user.target
