[Unit]
Description=Keep watching system temperature
After=basic.target

[Service]
Type=idle
User=root
ExecStart=/home/pi/.local/bin/watch-temp.py

[Install]
WantedBy=multi-user.target

